body {font-family:sans-serif;}
body .container {
	margin:0 auto;
	max-width:1000px;
	padding:1em 30px;
}

.toggle {
	border:1px solid #ccc;
	border-radius:.8em;
	padding:.4em;
	display:flex;
	gap:.4em;
	margin-right:auto;
	max-width:fit-content;
}
a.button {
	align-items:center;
	background-color:#fafafa;
	border:1px solid #ccc;
	border-radius:.4em;
	cursor:pointer;
	display:inline-flex;
	padding:.3em .8em;
}
a.button:hover {background-color:#efefef;}
a.button.active {
	background-color:#a7cba9;
	cursor:default;
	font-weight:bold;
}

footer .container {display:flex;justify-content:space-between;}
footer a.contact-email {text-decoration:none;}
